/**Geral**/
*{
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    
}

.fundo{
    background: linear-gradient(216deg, rgba(53,22,40,1) 30%, rgba(29,14,47,1) 83%);
    background-attachment: fixed;
}

/**Homepage**/
.logo{
    margin: 15px;
    padding:10px ;
    float: left;
}

.texto1{
    color:#ffffff;
    float:left;
    margin: 35px;
}

.navBar{
   
    width: 100%;
    height: 100px;
    list-style:none;
    border-bottom:1px  solid #ffffff;

}

nav ul{
    list-style:none;
    float: right;
    padding-right: 100px;
}
nav li{
    float:left;
    margin: 35px;
}


/**expositorFilme**/

.expositorFilmeConteiner{
    padding-left: 30px;
    width: 450px;
    display:inline-block;
    
   
}
.expositorFilme{
    display:flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: flex-start;
    align-content: stretch;
    max-width: 450px;
    border-right: 1px #ffffff solid;
}
.exposositorTexto{
    
    display:flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: flex-start;
    float:right;
    width: 60%;
    margin-top: 10%;
    font-size: large;
    text-align: justify;
}
.exposositorTexto p{
    margin-left: 400px;
    margin-top: 20px;
}
.exposositorTexto h4{
    margin-top: 50px;
    margin-left: 380px;
}
.exposositorTexto h5{
    margin-left: 600px;
    margin-top: 20px;
} 

/**Botões**/

.botoesConteiner{    
   
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-evenly;
    align-content:center;
    flex-grow: 1;
    order:center;
    width: 60%;
    padding-bottom: 165px;
    margin-top: -200px;
    margin-left: 35%;
    
}
.myButton {
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
    display:inline-block;
	cursor:pointer;
	color:#1d0e2f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to top, #ed2259 10%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

footer{
    background-color:#333333;
    text-align: center;
    height: 80px;
}


/**Menu Cadastro**/

.fundoa{
    
    color:#1d0e2f;
    background: linear-gradient(216deg, rgba(53,22,40,1) 30%, rgba(29,14,47,1) 83%);
}
.fundob{
    
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    border:1px solid #ffffff;
    border-radius:10px;
    z-index: 1;
    
}
.fundobranco{
    background-color:#ffffff;
    width: 45vw;
    height: 90vh;
    float:left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    border:1px solid #ffffff;
    border-radius:10px 0 0 10px ;
    z-index: 2;
    position: absolute;
}

.formulario{
    float:left;
    margin:50px 100px 100px ;
    display: flex;
    align-content:space-between;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    /**background:#ed2259;*/
    height:500px;
    width: 530px;
    line-height: 25px;
}

.formunlario fieldset{
    border:0;
    border-bottom:#1d0e2f 2px solid;
    padding: 5px;
    outline: 0;
}

.formulario p{
    color:#1d0e2f;
}



.cadastroh1{
    color:#1d0e2f;
    padding-bottom:80px ;
    display: flex;
    align-content:center;
    justify-content: center;
}
#nomelogin{
    display: flex;
    border:#1d0e2f solid 1px 0 0 0;
    margin-bottom: 30px;
    width: 400px;

    color:#1d0e2f;
}


#email{
    display: flex;
    border:#1d0e2f solid 1px 0 0 0;
    margin-bottom: 30px;
    width: 400px;
}
#numcpf{
   Display: flex;
    border:#1d0e2f solid 1px 0 0 0;
    margin-bottom: 30px;
    width: 400px;
}

#telefone{
    display: flex;
    border:#1d0e2f solid 1px 0 0 0;
    margin-bottom: 30px;
    width: 400px;
}

#botaoSub{
    width: fit-content;
    border:1px solid #1d0e2f ;
    margin-left: 200px;
}


/**Menu login**/

.fundoc{
    background: linear-gradient(216deg, rgba(53,22,40,1) 30%, rgba(29,14,47,1) 83%);
}

.fundobrancob{
   
    margin: auto;
    margin-top: 35px;
    width: 70vw;
    height: 90vh;
    background: #813b3b;
    display: flex;
    justify-content: center; 
    align-items: center;
    border:#ffffff 1px solid;
    border-radius: 10px;
    background: linear-gradient(166deg, rgba(53,22,40,1) 30%, rgba(29,14,47,1) 83%);
    }
.formulariologin{
    
    display: flex;
    justify-content: center;
    align-content:center;
    float:left;
    
}


/**Menu gerente**/

.ladoAdcionarFilme{
    background: #ed2259;
    float: left;
    margin-top: 50px;
    margin-left: 35px;
    width: 350px;

}
.ladoAdcionarFilme p{
    margin-top: 25px;

}
.ladoAdcionarFilme h2{
    margin-bottom: 50px;
}
.ladoDoGerente{
    float: right;
    background: #ed2259;
    margin-top: 50px;
    margin-right: 35px;
    width: 700px;
    height: 448px;
}
