<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <title>Administrador</title>
    <meta name="viewport" content="user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="fundo">
 <header>

           <nav class="navBar">
              <div class="logoconteiner">

                  <img class= "logo" src="{{url_for('static', filename='Logo.png')}}" />
                 <h1 class="texto1"> SisCon </h1>
                  <ul>
                   <li>
                       <button ><a href="{{url_for('gerente')}}" class="myButton">Gerente</a> </button>
                   </li>

                   <li>
                     <button ><a href="{{url_for('homepage')}}" class="myButton" >Menu Principal</a></button>
                   </li>
                      <li>
                      <button ><a href="{{url_for('homepage')}}" class="myButton" >Retornar</a></button>

                      </li>
               </ul>
              </div>
           </nav>
     </header>
     <section>
         <div class="ladoAdcionarFilme">
             <h2>Relatório </h2>
              <button id="botaoSub" class="myButton" onclick="Faturamento()">Faturamento</button>
             <h2>Gerenciar Clientes </h2>
              <button id="botaoSub" class="myButton" onclick="Faturamento()">Gerenciar Clientes</button>
         </div>
     </section>
    <section class="ladoDoGerente">

        <table>
            <tr>
                <th> Sala 1<th/>

                <th> Sala 2<th/>

                <th> Sala 3<th/>

            <tr/>
            <tr>
                <td> Filme 1<td/>

                <td> Filme 2<td/>

                <td> Filme 3 <td/>

            <tr/>
            <tr>
                <td> Horario 1<td/>

                <td> Horario 1<td/>

                <td> Horario 1<td/>

            <tr/>
        </table>
    </section>



</body>
</html>